// Punchy Button - Save as "_punchy.scss"
//************************************************************************//
// @import "punchy";
//
// Usage (with a or buttons)
//
// .join {
//   @include punchy(#C43A3A);
//   height:54px; 
//   width:278px !important; 
//   text-transform: uppercase;
// }
//
@mixin punchy($base-color) {
  $color:         hsl(0, 0, 100%);
  $background:    $base-color;
  
  $border-top:    adjust-color($base-color, $red:  -20,  $green:  -20,  $blue:  -20);
  $border-right:  adjust-color($base-color, $red: -126, $green: -127, $blue: -122);
  $border-bottom: adjust-color($base-color, $red: -126, $green: -127, $blue: -122);
  $border-left:   adjust-color($base-color, $red: -126, $green: -127, $blue: -122);
  
  $box-shadow1:   adjust-color($base-color, $red:  60,  $green:  60,  $blue:  60);
  $box-shadow2:   adjust-color($base-color, $red: -140, $green: -141, $blue: -114);
  $box-shadow3:   adjust-color($base-color, $red: -126, $green: -127, $blue: -122);
  $box-shadow4:   adjust-color($base-color, $red: -140, $green: -141, $blue: -114);

  display: inline-block;
  background: $background;
  
  border-top: 1px solid $border-top;
  border-right: 1px solid $border-right;
  border-bottom: 1px solid $border-bottom;
  border-left: 1px solid $border-left;
  
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  
  -webkit-box-shadow: inset 0 1px 10px 1px $box-shadow1, 0px 1px 0 $box-shadow2, 0 6px 0px $box-shadow3, 0 8px 4px 1px $box-shadow4;
  -moz-box-shadow: inset 0 1px 10px 1px $box-shadow1, 0px 1px 0 $box-shadow2, 0 6px 0px $box-shadow3, 0 8px 4px 1px $box-shadow4;
  -ms-box-shadow: inset 0 1px 10px 1px $box-shadow1, 0px 1px 0 $box-shadow2, 0 6px 0px $box-shadow3, 0 8px 4px 1px $box-shadow4;
  -o-box-shadow: inset 0 1px 10px 1px $box-shadow1, 0px 1px 0 $box-shadow2, 0 6px 0px $box-shadow3, 0 8px 4px 1px $box-shadow4;
  box-shadow: inset 0 1px 10px 1px $box-shadow1, 0px 1px 0 $box-shadow2, 0 6px 0px $box-shadow3, 0 8px 4px 1px $box-shadow4;
  
  color: #fff;
  line-height: 1;
  margin-bottom: 15px;
  padding: 10px 0 10px 0;
  text-align: center;
  text-shadow: 0px -1px 1px #1e2d4d;
  text-decoration: none;
  width: 225px;
  -webkit-background-clip: padding-box; 

  &:hover:not(:disabled) {
    -webkit-box-shadow: inset 0 0px 16px 1px $box-shadow1, 0px 1px 0 $box-shadow2, 0 6px 0px $box-shadow3, 0 8px 4px 1px $box-shadow4;
    -moz-box-shadow: inset 0 0px 16px 1px $box-shadow1, 0px 1px 0 $box-shadow2, 0 6px 0px $box-shadow3, 0 8px 4px 1px $box-shadow4;
    -ms-box-shadow: inset 0 0px 16px 1px $box-shadow1, 0px 1px 0 $box-shadow2, 0 6px 0px $box-shadow3, 0 8px 4px 1px $box-shadow4;
    -o-box-shadow: inset 0 0px 16px 1px $box-shadow1, 0px 1px 0 $box-shadow2, 0 6px 0px $box-shadow3, 0 8px 4px 1px $box-shadow4;
    box-shadow: inset 0 0px 16px 1px $box-shadow1, 0px 1px 0 $box-shadow2, 0 6px 0px $box-shadow3, 0 8px 4px 1px $box-shadow4;
    cursor: pointer;
    text-decoration: none;
  }

  &:active:not(:disabled) {
    -webkit-box-shadow: inset 0 1px 10px 1px $box-shadow1, 0 1px 0 $box-shadow2, 0 2px 0 $box-shadow3, 0 4px 3px 0 $box-shadow4;
    -moz-box-shadow: inset 0 1px 10px 1px $box-shadow1, 0 1px 0 $box-shadow2, 0 2px 0 $box-shadow3, 0 4px 3px 0 $box-shadow4;
    -ms-box-shadow: inset 0 1px 10px 1px $box-shadow1, 0 1px 0 $box-shadow2, 0 2px 0 $box-shadow3, 0 4px 3px 0 $box-shadow4;
    -o-box-shadow: inset 0 1px 10px 1px $box-shadow1, 0 1px 0 $box-shadow2, 0 2px 0 $box-shadow3, 0 4px 3px 0 $box-shadow4;
    box-shadow: inset 0 1px 10px 1px $box-shadow1, 0 1px 0 $box-shadow2, 0 2px 0 $box-shadow3, 0 4px 3px 0 $box-shadow4;
    margin-top: 5px; 
    margin-bottom: 10px;
  }

}