.highlighted {
  background: #E86A4D;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #000000;
}

.highlighted a:hover {
  background: #E86A4D;
  color: #FFFFFF;
  text-decoration: underline;
}

.head {
  color: #CDC23F !important;
}

.bottom-padded-25 {
  padding-bottom: 25px;
}

.sub-title {
  font-family: 'Open Sans', sans-serif; 
  color: #FFFFFF;
}

.bree-white {
  font-family: 'Bree Serif', serif;
  color: #FFFFFF;
}

.head-date {
  color: #333333; 
  float:right; 
  font-size: 0.7em;
}

.banner {
  font-family: 'Ultra', serif;
  padding: 10px;
  margin-bottom: 30px;
  background: #333333;
}

.banner h1 {
  margin-bottom: 0;
  margin-left: 50px;
  font-size: 3.3em;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}

.banner p {
  margin-left: 50px;
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
}