@import url(http://fonts.googleapis.com/css?family=Arvo|Source+Sans+Pro);

$main-color: #2980b9;
$gray: #ecf0f1;

body {
  background-color: $gray;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica,Arial,sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: "Arvo";
  margin-bottom: 10px;
}

.banner {
  padding: 10px 0px 8px 0px;
  margin-bottom: 20px;
  background: $main-color;
}

.banner a:hover {
  text-decoration: none !important;
}

#main {
}

#sidebar {
  h3.top {
    margin-top: -30px;
  }
}

.summary {
  margin-bottom: 10px;
  text-align: justify;
}

.summary p {
  font-size: 1.2em;
  line-height: 140%;
}

.post {
  text-align: justify;
  p {
    font-size: 1.2em;
    line-height: 140%;
  }
  li {
    font-size: 17px;
    line-height: 140%;
  }
}

#main {
  h3 {
    a{
      margin-right: 5px;
    }
  }
  h2 {
    padding-bottom: 10px;
  }
}

#sidebar {
  li {
    a {
      margin-right: 5px;
    }
  }
}

.highlighted {
  margin-right: 10px;
  color: $main-color !important;
}

a {
  color: $main-color !important;
}

ul li {
  font-size: 1.1em;
}

hr {
  border-bottom: 1px solid #ccc;
}

pre {
  code {
    background: white;
  }
}

a.jsc {
  img {
    padding-top: 20px;
  }
}
