@import url(http://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans);

$main-color: #2980b9;
$gray: #ecf0f1;

body {
  background-color: $gray;
  font-family: "Open Sans", "Helvetica Neue", Helvetica,Arial,sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: "Bree Serif";
  margin-bottom: 10px;
}

.banner {
  padding: 10px 0px 8px 0px;
  margin-bottom: 20px;
  background: $main-color;
}

.banner a:hover {
  text-decoration: none !important;
}

#main {
}

#sidebar {
  h3.top {
    margin-top: -30px;
  }
}

.summary {
  margin-bottom: 10px;
  text-align: justify;
}

.summary p {
  font-size: 1.2em;
  line-height: 150%;
}

.post {
  text-align: justify;
}

.post p {
  font-size: 1.2em;
  line-height: 150%;
}

.highlighted {
  color: $main-color !important;
}

a {
  color: $main-color !important;
}

ul li {
  font-size: 1.1em;
}

hr {
  border-bottom: 1px solid #ccc;
}

pre {
  code {
    background: white;
  }
}

a.jsc {
  img {
    padding-top: 20px;
  }
}
