.highlighted {
  background: #E85D3C;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px dashed #000000;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.dark-chocolate {
  color: #F1F1F1 !important;
}

.bottom-padded-25 {
  padding-bottom: 25px;
}

.play {
  font-family: 'Open Sans', serif; 
  color: #000000;
}

.play-white {
  font-family: 'Bree Serif', serif;
  color: #ffffff;
}

.head-date {
  color: #3D1F00; 
  float:right; 
  font-size: 0.6em;
}

.banner {
  font-family: 'Ultra', serif;
  padding: 10px;
  margin-bottom: 30px;
  background: #C3A239;
}

.banner h1 {
  margin-bottom: 0;
  margin-left: 50px;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}

.banner p {
  margin-left: 50px;
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
  color: inherit;
}