---
import { type CollectionEntry, getCollection, render } from "astro:content";

import { postToUrlComponents, toDate } from "../../../../lib/utils";

import Layout from "../../../../layouts/Layout.astro";
import FormattedDate from "../../../../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">;

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => {
    const { year, month, dateStr, title } = postToUrlComponents(post);

    return {
      params: { slug: title, year, month, date: dateStr },
      props: post,
    };
  });
}

const post = Astro.props;

const { Content } = await render(post);
---

<Layout sidebar={false}>
  <div class="post">
    <div class="title">
      <h1>{post.data.title}</h1>
      <div class="date">
        <FormattedDate date={toDate(post.data.date)} />
      </div>
      <hr />
    </div>
    <Content />
  </div>
  <div></div>
</Layout>
