---
import { type CollectionEntry, getCollection, render } from 'astro:content';

import { postToUrlComponents } from '../../../../lib/utils';

import BlogPost from '../../../../layouts/BlogPost.astro';

type Props = CollectionEntry<'blog'>;

export async function getStaticPaths() {
	const posts = await getCollection('blog');

	return posts.map((post) => {
		const { year, month, dateStr, title } = postToUrlComponents(post)

		return {
			params: { slug: title, year, month, date: dateStr },
			props: post,
		}
	});
}

const post = Astro.props;

const { Content } = await render(post);
---

<BlogPost {...post.data}>
	<div>
		<Content />
	</div>
</BlogPost>
