.about
	%img{src: "/images/Rocky_Jaiswal.jpg", alt: "Rocky Jaiswal"}

	.profile
		%h2 Profile
		%p
			Hi! I am Rocky. I am a professional software developer (or have been trying to be a good one) since 2002. I love to code, I like to help people through my code and I love to work with a team of good developers. I have some experience under my belt and I really like web and mobile app development. I am super interested in design, performance, data-modeling and shipping products fast.
		%p
			I have spoken at a few conferences, written a few blogs and created a popular screencast. I have developed a lot of web applications, a few mobile apps and a couple of GIS applications. I have programmed for companies like Morgan Stanley, Goldman Sachs and McKinsey&Company among other clients in the US, UK, Europe and Japan.
		%p
			I did a lot of Java early in my career, now I mostly work with JavaScript and Ruby. Occasionally I tinker with other programming languages like Clojure, Scala and Elixir.

	.highlights
		%h2 Worth a mention
		%ul
			%li
				Speaker at AgileNCR 2010, Gurgaon -
				%a{:href => "http://agilencr.org"} Life without Agile
			%li Speaker at Agile Tours 2010, Noida – Story Mapping in Agile
			%li
				Speaker at IndicThreads Conference on Cloud Computing, Pune -
				%a{:href => "http://u10.indicthreads.com/"} Rails and CouchDB on the Cloud
			%li
				Speaker at Ruby Conf India 2012 -
				%a{:href => "http://rubyconfindia.org/2012/talks.html"} http://rubyconfindia.org/2012/talks.html
			%li
				Speaker at IndicThreads Conference on Software Development, NCR -
				%a{:href => "http://delhi12.indicthreads.com/"} http://delhi12.indicthreads.com/
			%li
				Speaker at Ruby Conf India 2013 -
				%a{:href => "http://rubyconfindia.org/2013/talks.html"} http://rubyconfindia.org/2013/talks.html
			%li
				Speaker at IndicThreads 2013 -
				%a{:href => "http://delhi13.indicthreads.com/"} http://delhi13.indicthreads.com/
			%li
				Speaker at JSChannel 2013 -
				%a{:href => "http://jschannel.com"} http://jschannel.com
			%li
				Speaker at JRuby Conf 2015 -
				%a{:href => "http://2015.jrubyconf.eu"} http://2015.jrubyconf.eu
			%li I have made small yet numerous open source contributions to Rails core and omniauth-twitter among others
			%li I have some certifications as well which helped me learn

	.education
		%h2 Education
		%table.table
			%tbody
				%tr
				%td Punjab Engineering College
				%td Bachelor of Engineering
				%td July 1998 to May 2002

	.experience
		%h2 Experience
		%table.table
			%tbody
				%tr
					%td McKinsey Digital Labs
					%td Programmer
					%td Aug, 2015 -
				%tr
					%td crealytics Gmbh
					%td Programmer
					%td Nov, 2013 - Aug, 2015
				%tr
					%td McKinsey&Company
					%td Programmer
					%td Apr, 2011 to Nov, 2013
				%tr
					%td Xebia IT Architects
					%td Programmer & Scrum Master
					%td Jul, 2009 to Mar, 2011
				%tr
					%td Headstrong
					%td Programmer
					%td Oct, 2006 to Jun, 2009
				%tr
					%td Tata Consultancy Services
					%td Programmer
					%td Oct, 2002 to Oct, 2006

	.skills
		%h2 Skills
		%p I claim to be an expert at nothing but I learn daily, eagerly and continuously.
		%table.table
			%tbody
				%tr
					%td JavaScript - NodeJS / HapiJS / ReactJS
				%tr
					%td Ruby - Rails / RSpec
				%tr
					%td Clojure / ClojureScript
				%tr
					%td PostgreSQL / Redis / MongoDB
				%tr
					%td Docker / Ansible / Mesos / Packer / Kubernetes

	%h3 LinkedIn
	%p
		For a detailed view of my projects / experience please visit LinkedIn -
		%a{:href => "http://www.linkedin.com/in/rockyjaiswal", :target => "_blank"} http://www.linkedin.com/in/rockyjaiswal
