<div class="post">
  <h3>Profile</h3>
  <p>I love to code, I like to help people through code and I like to work with developers. I have some experience under my belt and I really like web and mobile app development. I am super interested in design, performance, data-modeling and shipping products fast. 
  <br/>
  <br/>
  I have spoken at conferences, written some decent blogs and created a popular screencast. I have developed mobile applications, a travel website, few GIS applications and programmed for banks like Morgan Stanley and Goldman Sachs among other clients in the US, UK and Japan.
  </p> 
  <br/>

  <h3>Personal Projects</h3>
  <a href="http://biblefind.in">http://biblefind.in</a><br/>
  <a href="http://rockyj.in">http://rockyj.in</a><br/>
  <a href="https://github.com/rocky-jaiswal/etherpad-lite">http://epad.rockyj.in</a><br/>
  <a href="http://agilencr.org">http://agilencr.org</a><br/>
  <a href="http://meetingman.in">http://meetingman.in</a><br/>
  <a href="http://goo.gl/YUGlD">http://goo.gl/YUGlD</a><br/>
  <a href="http://goo.gl/GH3Y3">http://goo.gl/GH3Y3</a><br/>
  <a href="http://goo.gl/U5sSS">http://goo.gl/U5sSS</a><br/>

  <br/>
  <h3>Worth a mention</h3>
  <ul>
    <li>Speaker at AgileNCR 2010, Gurgaon (<a href="http://agilencr.org">http://agilencr.org</a>) – Life without Agile</li>
    <li>Speaker at Agile Tours 2010, Noida – Story Mapping in Agile</li>
    <li>Speaker at IndicThreads Conference on Cloud Computing, Pune - (<a href="http://u10.indicthreads.com/">http://u10.indicthreads.com/</a>) – Rails and CouchDB on the Cloud</li>
    <li>Speaker at Ruby Conf India 2012 - <a href="http://rubyconfindia.org/2012/talks.html">http://rubyconfindia.org/2012/talks.html</a></li>
    <li>Speaker at IndicThreads Conference on Software Development, NCR - <a href="http://delhi12.indicthreads.com/">http://delhi12.indicthreads.com/</a></li>
    <li>Speaker at Ruby Conf India 2013 - <a href="http://rubyconfindia.org/2013/talks.html">http://rubyconfindia.org/2013/talks.html</a></li>
    <li>I have made small open source contributions to Rails core, omniauth-twitter and Yeoman's Angular generator</li>
    <li>I have some certifications as well which helped me learn</li>
    <li><a href="http://rockyj.in/scala_certificate.pdf">Completed Coursera course on - Functional Programming in Scala</a></li>
    <li><a href="http://rockyj.in/algo_certificate.pdf">Completed Coursera course on - Algorithms: Design and Analysis, Part 1</a></li>
    <li>Speaker at JSChannel 2013 - <a href="http://jschannel.com">http://jschannel.com</a></li>
  </ul>
  <br/>

  <h3>Education</h3>
  <table class="table">
    <tr>
      <td>Punjab Engineering College</td>
      <td>Bachelor of Engineering</td>
      <td>July 1998 to May 2002</td>
    </tr>
  </table>
                         

  <br/><h3>Experience</h3>
  <table class="table">
    <tr>
      <td>McKinsey&Company</td>
      <td>Programmer</td>
      <td>Apr, 2011 to Till Date</td>
    </tr>
    <tr>
      <td>Xebia IT Architects</td>
      <td>Programmer & Scrum Master</td>
      <td>Jul, 2009 to Mar, 2011</td>
    </tr>
    <tr>
      <td>Headstrong</td>
      <td>Programmer</td>
      <td>Oct, 2006 to Jun, 2009</td>
    </tr>
    <tr>
      <td>Tata Consultancy Services</td>
      <td>Programmer</td>
      <td>Oct, 2002 to Oct, 2006</td>
    </tr>
  </table>

  <br/><h3>Skills</h3>
  <p>I worked for around eight years in Java, for the last year or so I have been programming in Ruby and am learning JavaScript along the way. I claim to be an expert at nothing but I know the basics (OO & Clean Tested Code) and I learn quickly, eagerly and continuously.</p>
  <table class="table">
    <tr>
      <td><b>Java</b></td>  
      <td>JEE6, Spring, Apache Wicket, Hibernate / JPA and Jboss Seam</td>
    </tr>
    <tr>
      <td><b>Ruby / JRuby</b></td> 
      <td>Ruby on Rails</td>
    </tr>
    <tr>
      <td><b>JavaScript</b></td> 
      <td>jQuery, jQuery Mobile, Sencha Touch, Backbone.js and Angular.js (Also dabbled with node.js)</td>
    </tr>
    <tr>
      <td><b>Scala</b></td> 
      <td>Play! Framework</td>
    </tr>
    <tr>
      <td><b>Persistence</b></td>
      <td>MySql, Postgresql, CouchDB, MongoDB, Redis, Sybase and Oracle</td>
    </tr>
  </table>

  <br/><h3>LinkedIn</h3>
  <p>For a detailed view of my projects / experience please visit my <a href="http://www.linkedin.com/in/rockyjaiswal" target="_blank">LinkedIn profile</a>.</p>

  <br/><h3>Codewall Achievements</h3>
  <a href="http://coderwall.com/rocky-jaiswal" target="_blank">http://coderwall.com/rocky-jaiswal</a>
</div>

