<ul>
<li> I like to code. Being doing so for the last 10 years or so.</li>
<li>I like to code in Ruby, JRuby, Java and JavaScript.</li>
<li>Few of my projects are on <a href="http://github.com/rocky-jaiswal">github</a>.</li>
</ul>
