<head>
  <title>Rocky Jaiswal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8" />
  <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
  <%= stylesheet_link_tag 'app' %>
  <%= stylesheet_link_tag 'bootstrap' %>
  <%= stylesheet_link_tag 'bootstrap-responsive' %>
  <%= javascript_include_tag 'bootstrap' %>
</head>