:javascript
  document.addEventListener('DOMContentLoaded', function (_e) {
    let regex = new RegExp(/^\/\d{4}\/\d{2}\/\d{2}/);

    if (window.location.pathname.match(regex)) {
      document.querySelectorAll('pre code').forEach((block) => {
        hljs.highlightBlock(block);
      });
      
      let d = document, s = d.createElement('script');
      s.src = '//rockyj.disqus.com/embed.js';
      s.setAttribute('data-timestamp', + new Date());
      (d.head || d.body).appendChild(s);
    }
  });