.sidebar
  %h3
    %a{href: "/about/index.html"} About
  %h3
    %a{href: "/feed.xml"} Feed
  %h3
    %a(href="https://github.com/rocky-jaiswal" target="_blank") Github
  %h3
    %a(href="/videos/index.html") Videos
  %h3
    %a#show-posts(href="/posts/index.html") Posts
  .posts
    %ol
      - blog.articles[0...5].each do |article|
        %li
          %a{href: article.url}
            = article.title
          %span= article.date.strftime('%b %e %Y')
      %li
        %a(href="/posts/index.html") All...
  %hr
  %h3
  %a.twitter-timeline(data-height="700" href="https://twitter.com/var_log_rockyj")
  %script(async src="//platform.twitter.com/widgets.js" charset="utf-8")
