<!DOCTYPE html>
%html(lang="en")
  %head
    = partial "head"
  %body
    .container
      = partial "blog_banner"
      .main
        %article
          .blog_heading
            %h2
              = current_article.try(:title)
            .blog_date
              = current_article.date.strftime('%b %e %Y') if current_article
          .post
            ~ current_article.body if current_article
          %hr
          #disqus_thread

  %script{type: "text/javascript", src: "//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/highlight.min.js"}
