<!DOCTYPE html>
<html>
  <%= partial "head" %>
  <body>
    <%= partial "banner" %>
    <div id="main" role="main" class="container">
      <div class="row">
        <div class="span9">
          <div id="main" role="main">
            <%= yield %>
          </div>
        </div>
        <%= partial "sidebar" %>
      </div>
    </div>
  </body>
</html>

