<a href="#" class="punchable1">Hello World</a>
<br/>
<a href="#" class="punchable2">Hello World</a>
<br/>
<a href="#" class="punchable3">Hello World</a>
<br/>
<a href="#" class="punchable4">Hello World</a>