h2 Ruby Conf 2013
object width="420" height="315"
  param name="movie" value="//www.youtube.com/v/qtrq9tL_yMc?hl=en_US&amp;version=3"
  param name="allowFullScreen" value="true"
  param name="allowscriptaccess" value="always"
  embed src="//www.youtube.com/v/qtrq9tL_yMc?hl=en_US&amp;version=3" type="application/x-shockwave-flash" width="420" height="315" allowscriptaccess="always" allowfullscreen="true"

h2 Ruby Conf 2012
object height="315" width="560"
  param name="movie" value="http://www.youtube.com/v/Yx5PsEaC_48?version=3&amp;hl=en_US"
  param name="allowFullScreen" value="true"
  param name="allowscriptaccess" value="always"
  embed allowfullscreen="true" allowscriptaccess="always" height="315" src="http://www.youtube.com/v/Yx5PsEaC_48?version=3&amp;hl=en_US" type="application/x-shockwave-flash" width="560"

h2 Migrating to JBoss
object height="315" width="560"
  param name="movie" value="http://www.youtube.com/v/gIybgjCnGZg?version=3&amp;hl=en_US"
  param name="allowFullScreen" value="true"
  param name="allowscriptaccess" value="always"
  embed allowfullscreen="true" allowscriptaccess="always" height="315" src="http://www.youtube.com/v/gIybgjCnGZg?version=3&amp;hl=en_US" type="application/x-shockwave-flash" width="560"
