%h2 JRuby Conf EU 2015
<iframe width="508" height="382" src="https://www.youtube.com/embed/zZIjigK3BkE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

%h2 Ruby Conf 2013
<iframe width="508" height="382" src="https://www.youtube.com/embed/qtrq9tL_yMc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

%h2 Ruby Conf 2012
<iframe width="508" height="382" src="https://www.youtube.com/embed/Yx5PsEaC_48" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

%h2 Migrating to JBoss
<iframe width="508" height="382" src="https://www.youtube.com/embed/gIybgjCnGZg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

