%h2 JRuby Conf EU 2015
%iframe(width="560" height="315" src="https://www.youtube.com/embed/zZIjigK3BkE" frameborder="0" allowfullscreen="true")

%h2 Ruby Conf 2013
%iframe(width="420" height="315" src="//www.youtube.com/v/qtrq9tL_yMc" frameborder="0" type="application/x-shockwave-flash")

%h2 Ruby Conf 2012
%iframe(height="315" width="560" src="http://www.youtube.com/v/Yx5PsEaC_48" frameborder="0" type="application/x-shockwave-flash")

%h2 Migrating to JBoss
%iframe(height="315" width="560" src="http://www.youtube.com/v/gIybgjCnGZg" frameborder="0" type="application/x-shockwave-flash")
